.header {
  display: flex;
  width: 100%;
  background-color: aliceblue;
  justify-content: space-between;
  height: 40px;

  .logo {
    display: flex;
  }

  .navigation {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
  }
}

.picture {
  height: 50px;
  width: 50px;
}
