<div *ngIf="!sectionInfo?.isPictureLeft" class="section">
  <div class="text">
    <div class="picture-title">
      <h2>{{sectionInfo?.title}}</h2>
    </div>
    <div class="picture-text">
      {{sectionInfo?.text}}
    </div>
  </div>
  <div class="pictureContainer">
    <img *ngIf="!sectionInfo?.isVideo" [src]="sectionInfo?.picturePath" alt="Picture" class="picture">
    <iframe class="video" *ngIf="sectionInfo?.isVideo" src="https://drive.google.com/file/d/1CIh70AtEN1II0GY8iBud-cKoIPzfMSDp/preview" allow="autoplay"></iframe>
  </div>
</div>
<div *ngIf="sectionInfo?.isPictureLeft" class="section sectionLeft">
  <div class="pictureContainer">
    <img *ngIf="!sectionInfo?.isVideo" [src]="sectionInfo?.picturePath" alt="Picture" class="picture">
    <iframe class="video" *ngIf="sectionInfo?.isVideo" src="https://drive.google.com/file/d/1CIh70AtEN1II0GY8iBud-cKoIPzfMSDp/preview" allow="autoplay"></iframe>
  </div>
  <div class="text">
    <div class="picture-title">
      <h2>{{sectionInfo?.title}}</h2>
    </div>
    <div class="picture-text">
      {{sectionInfo?.text}}
    </div>
  </div>
</div>
