* {
  font-family: Arial;
}

.section {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
  width: 80%;
  margin: 10px 0 0 10%;


  .text {
    width: 50%;
    text-align: center;

    .picture-title {

    }

    .picture-text {
      width: 80%;
      margin-left: 10%;
    }
  }

  .pictureContainer {
    width: 50%;
    text-align: center;
    justify-items: center;
    position: relative;
    overflow: hidden;

    .picture {
      max-height: 300px;
      max-width: 300px;
    }

    .video {
      max-height: 300px;
      max-width: 300px;
    }
  }
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .text {
    width: 100% !important;
    text-align: center;

    .picture-text {
      width: 100%;
    }
  }

  .pictureContainer {
    width: 100% !important;
    text-align: center;
    justify-items: center;
    position: relative;
    overflow: hidden;

    .picture {
      max-height: 300px;
      max-width: 300px;
    }

    .video {
      max-height: 300px;
      max-width: 300px;
    }
  }

  .sectionLeft {
    display: flex;
    flex-direction: column-reverse;
  }
}
