<div *ngIf="!sectionInfo?.isPictureLeft" class="section">
  <div class="text">
    <div class="picture-title">
      <h2>{{sectionInfo?.title}}</h2>
    </div>
    <div class="picture-text">
      {{sectionInfo?.text}}
    </div>
  </div>
  <div class="pictureContainer">
    <img [src]="sectionInfo?.picturePath" alt="After" class="picture">
  </div>
</div>
<div *ngIf="sectionInfo?.isPictureLeft" class="section">
  <div class="pictureContainer">
    <img [src]="sectionInfo?.picturePath" alt="After" class="picture">
  </div>
  <div class="text">
    <div class="picture-title">
      <h2>{{sectionInfo?.title}}</h2>
    </div>
    <div class="picture-text">
      {{sectionInfo?.text}}
    </div>
  </div>
</div>
