.section {
  display: flex;
  justify-content: space-between;
  height: 400px;
  align-items: center;
  width: 80%;
  margin: 10px 0 0 10%;
  //box-shadow: 0px 15px 10px -15px #111;


  .text {
    width: 50%;
    text-align: center;

    .picture-title {

    }

    .picture-text {
      width: 80%;
      margin-left: 10%;
    }
  }

  .pictureContainer {
    width: 50%;
    text-align: center;

    .picture {
      height: 300px;
      width: 300px;
    }
  }
}
